.pre-kompre {
  height: 430px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}

.pre-kompre .header {
  position: absolute;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #EAECEE;
}

.pre-kompre .header .add-button {
  position: absolute;
  top: 3px;
  right: 40px;
}

.pre-kompre .header .search {
  position: absolute;
  top: 0;
  left: 20px;
}

.pre-kompre .header .search  li {
  margin: 0 5px;
  display: inline;
}

.pre-kompre .content {
  position: absolute;
  top: 130px;
  bottom: 0;
  width: 100%;
}
