.section-header {
  position: absolute;
  width: 100%;
  min-height: 70px;
  border-bottom: 1px solid #EAECEE;
}

.section-header > .left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65%;
}

.section-header > .left .the-ul {
  position: absolute;
  left: 0;
}

.section-header .left .the-li {
  margin-right: 10px;
  display: inline;
}

.section-header > .right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35%;
}

.section-header > .right .the-ul {
  position: absolute;
  right: 0;
}

.section-header > .right .the-li {
  margin-left: 10px;
  display: inline-flex;
}

.section-content {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

/* Ant */
.ant-form-item {
  margin-bottom: 12px;
}
.ant-form-vertical .ant-form-item-label {
  padding: 0;
}
