.workspace-header {
  position: fixed;
  background-color: #1976D2;
  border-bottom: 1px solid silver;
  width: 100%;
  height: 65px;
  left: 0;
  top: 0;
  z-index: 100;
}

.workspace-header .logo {
  position: absolute;
  top: 18px;
  left: 25px;
}

.workspace-header .app-name {
  position: absolute;
  top: 19px;
  left: 46px;
  color: #FFF;
  font-weight: bold;
  font-size: 2.0em;
  font-family: "Helvetica Neue";
}

.workspace-header nav {
  position: absolute;
  top: 19px;
  right: 15px;
}

.workspace-header nav li {
  margin: 0 10px;
  display: inline;
  color: #FFF;
}
