.hospital .header {
  position: absolute;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EAECEE;
}

.hospital .header .left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70%;
}

.hospital .header .left li {
  /*margin: 0 5px;*/
  margin-left: 10px;
  display: inline;
}

.hospital .header > .right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30%;
}

.hospital .header > .right .the-li {
  /*margin: 0 5px;*/
  margin-left: 10px;
  display: inline-flex;
}

.hospital .content {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.hospital .content > .left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 33.3%;
  padding: 20px;
  border-right: 1px solid #F1F2F3;
  background-color: white;
  overflow: scroll;
}

.hospital .content .center {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 33.3%;
  border-right: 1px solid #F1F2F3;
  background-color: white;
}

.hospital .content > .right {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 33.3%;
  background-color: white;
}

/* Hospital Department */
.hospital-department .header {
  position: absolute;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EAECEE;
}

.hospital-department .header .left {
  position: absolute;
  top: 20px;
  left: 10px;
}

.hospital-department .header .left li {
  /*margin: 0 5px;*/
  margin-left: 10px;
  display: inline;
}

.hospital-department .header .right {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 30%;
}

.hospital-department .content {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

/* Hospital Student */
.hospital-student .header {
  position: absolute;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EAECEE;
}

.hospital-student .header .left {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 90%;
}

.hospital-student .header .left li {
  /*margin: 0 5px;*/
  margin-left: 10px;
  display: inline;
}

.hospital-student .header .right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10%;
}

.hospital-student .content {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
