<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CEU Admin</title>

    <link rel="stylesheet" href="/assets/css/antd.min.css" type="text/css" />
  </head>
  <body>
    {{{content}}}
  </body>
</html>
