<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CEU Admin</title>

    <link rel="stylesheet" href="/assets/css/antd.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/ceu.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/workspace.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student_details.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student_taken_department.css" type="text/css" />
  </head>
  <body>
    {{{content}}}
  </body>
</html>
