<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CEU Admin</title>

    <link rel="stylesheet" href="/assets/css/antd.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/ceu.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/workspace.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student/student.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student/student_details.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student/student_taken_department.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student/student_info.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/student/mppd/mppd.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/hospital/hospital.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/score/score.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/schedule/schedule.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/department/department.css" type="text/css" />
  </head>
  <body>
    {{{content}}}
  </body>
</html>
